@import url("https://fonts.googleapis.com/css?family=Poppins:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:800|Roboto&display=swap");

:root {
  --mainPink: rgb(221, 129, 145);
  --mainBlue: rgb(92, 202, 230);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDarkPink: rgb(129, 53, 66);
}

body {
  background: var(--mainWhite);
  color: var(--mainDarkPink);
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  /* letter-spacing: 0.1rem !important; */
}

.lead {
  color: var(--mainDarkPink);
  font-family: "Roboto", sans-serif !important;
}

.text-blue {
  color: var(--mainBlue);
}

.text-white {
  background: rgb(221, 129, 145);
  padding: 30px;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(251, 197, 49, 0.5), rgba(132, 82, 24, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn,
.btn:after,
.btn:before {
  transition: 0.5s;
}

.btn {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}

.btn:hover {
  background: var(--mainPink);
  color: var(--mainDarkPink) !important;
}

.footer {
  background: var(--mainPink);
}

.copyright {
  font-size: 15px !important;
  font-family: "Roboto", sans-serif !important;
}

@media only screen and (max-width: 768px) {
  .text-white {
    font-size: 3rem;
    background: rgb(221, 129, 145);
    padding: 30px;
  }
  .lead {
    font-size: 1rem;
  }
}
