@import url("https://fonts.googleapis.com/css?family=Poppins:800|Roboto:400&display=swap");

:root {
  --mainPink: rgb(221, 129, 145);
  --mainBlue: rgb(92, 202, 230);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDarkPink: rgb(129, 53, 66);
}

body {
  background: var(--mainWhite);
  color: var(--mainDarkPink);
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  /* letter-spacing: 0.1rem !important; */
}

.lead {
  color: var(--mainDarkPink);
  font-family: "Roboto", sans-serif !important;
}

.text-blue {
  color: var(--mainBlue);
}

.text-pink {
  background: rgb(221, 129, 145);
  color: #fff;
  padding: 30px;
}

.menu,
.contact {
  background: rgba(245, 209, 198, 0.842);
}

.menu-title {
  letter-spacing: 1px;
}

.text-pink-price {
  color: rgb(221, 129, 145);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:after,
.navbar-light .navbar-nav .nav-link:before {
  transition: 0.5s;
}

.cart-icon,
.cart-icon:after,
.cart-icon:before {
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link,
.cart-icon {
  padding: 0 2rem important!;
  font-family: "Poppins", sans-serif !important;
  color: var(--mainDarkPink) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.cart-icon:hover {
  color: var(--mainPink) !important;
}

.cart {
  margin: 0 0.5rem !important;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainBlue);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(251, 197, 49, 0.5), rgba(132, 82, 24, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn,
.btn:after,
.btn:before {
  transition: 0.5s;
}

.btn {
  padding: 5px 20px;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px;
  background: var(--mainDarkPink);
  color: #fff !important;
  border-color: var(--mainDarkPink) !important;
  border-radius: 20px;
}

.btn:hover {
  background: var(--mainPink);
  border-color: var(--mainPink) !important;
  color: var(--mainDarkPink) !important;
}

.footer {
  background: var(--mainPink);
}

.copyright {
  font-size: 15px !important;
  font-family: "Roboto", sans-serif !important;
}

@media only screen and (max-width: 768px) {
  .text-pink {
    font-size: 3rem;
    padding: 30px;
  }
  .lead {
    font-size: 1rem;
  }
}
