@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --mainBrown: #845218;
  --mainYellow: #d7c197;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Poppins", sans-serif !important;
}
